.intro{
    display: flex;
    height: 77vh;
    margin-top: 6rem;
    margin-bottom: 6rem;
    .i-left{
       display: flex; 
       position: relative;
       flex: 1;
       flex-direction: column;
       gap: 2rem;
       .i-name{
           display: flex;
           flex-direction: column;
           :nth-child(1){
               color: var(--black);
               font-size: 2rem;
               font-weight: bold;
           }
           :nth-child(2){   
               color: var(--orange);
               font-size: 3rem;
               font-weight: bold;
           }
           :nth-child(3){
               color: var(--gray);
               font-size: 1rem;
               font-weight: 100;
               margin-top: 10px;
           }
       }
       .i-button{
           width: 6rem;
       }
       .i-icons{
           margin-top: 3rem;
           display: flex;
           gap: 0rem;
           img{
               transform: scale(0.5);
               &:hover{
                   cursor: pointer;
               }
           }
       }
    }
    .i-right{
        position: relative;
        flex: 1;
        // border: 1px solid red;
        display: flex;
        justify-content: center;
        align-items: center;
        &>*{
            position: absolute;
            z-index: 1;
        }
        // :nth-child(1){
        //     // transform: scale(1);
        //     // border: 1px solid red;
        //     // top: -9%;
        //     // left: -15%; 
        // }
        :nth-child(2){
            // transform: scale(0.65);
            top: -19%;
            left: -10%; 
            border-radius: 50%;
            padding: 0;
        }
        :nth-child(3){
            top: -4%;
            left: 70%; 
        }:nth-child(4){
            bottom: -6%;
            right: 60%; 
        }
        // .blur{
        //     position: absolute;
        //     width: 22rem;
        //     height: 14rem;
        //     border-radius: 50%;
        //     background-color: red;
        //     filter: blur(212px);
        //     z-index: -10;
        //     top: -4%;
        //     left: 78%;
        // }
    }
}