.n-wrapper{
    display: flex;
    justify-content: space-between;
    height: 10vh;
    // background-color: yellow;
    .n-left{
        flex: 1;
        align-items: center;
        display: flex;
        gap: 2rem;
        .n-name{
            font-size: 1.3rem;
            font-weight: bold;
        }
    }
    .n-right{
        display: flex;
        flex: 1;
        align-items: center;
        justify-content: center;
        .n-list{
            flex: 10;
            ul{
                display: flex;
                list-style: none;
                gap: 2rem;
                margin-right: 4rem;
                li:hover{
                    color: var(--orange);
                    cursor: pointer;
                }
            }
        }
        .n-button{
            flex: 2;
        }
    }
}